*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild


# Gradle
.gradle
build
local.properties
reports

# Maven
target
pom.xml.*
release.properties
gen-external-apklibs

# Eclipse
.classpath
.project
.settings
eclipsebin

# IntelliJ IDEA
.idea
*.iml
*.ipl
*.iws
classes/
idea-classes/
coverage-error.log

# Android
gen
bin
project.properties
out

# Finder
.DS_Store

# node.js
node_modules